# React Native
# Build artifacts
android/.gradle/
android/app/build/
android/app/src/main/res/drawable-*
android/.idea/
android/local.properties
*.jks
*.keystore

# Node.js
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# React Native bundle
*.jsbundle


# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace

# Xcode
*.xcodeproj/
*.xcuserdatad/
*.xcworkspace/
*.xcuserstate


